html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 100px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #2c2c2c;
  font-size: .16rem;
  -moz-perspective: 0.1111rem;
  -webkit-perspective: 0.1111rem;
  perspective: 0.1111rem;
}

html, body {
  overflow: hidden;
  height: 100%;
}

a {
  text-decoration: none;
  color: #258fb8;
  outline: none;
}

img {
  vertical-align: bottom;
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes from-top {
  from {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes from-top {
  from {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes from-top {
  from {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-box-shadow: 0 0.1rem 0.6rem #666;
  -webkit-box-shadow: 0 0.1rem 0.6rem #666;
  box-shadow: 0 0.1rem 0.6rem #666;
}
.section .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.section .btn-return {
  position: absolute;
  right: .20rem;
  top: .20rem;
  padding: .12rem .30rem;
  background-color: #f2e2dd;
  color: #8c2c31;
  border: 1px solid #8c2c31;
  border-radius: .50rem;
  font-size: .17rem;
}
.section .btn-return.active {
  background-color: #8c2c31;
  color: white;
}
.section .stamp {
  position: absolute;
  left: 0;
  top: 0;
  width: 38.2%;
}
.section .text-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.1rem;
  max-width: 70%;
  max-height: 38.2%;
  margin: auto;
}
