.cover .background {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
}
.cover .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 8%;
  bottom: 50%;
  margin: auto;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
}
.cover .text .text-title, .cover .text .text-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  height: 100%;
}
.cover .text .text-title {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
}
.cover .text .text-content {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translateX(-38%);
  -ms-transform: translateX(-38%);
  -webkit-transform: translateX(-38%);
  transform: translateX(-38%);
  opacity: 0;
}
.cover .scroll-hint-wrapper {
  position: absolute;
  padding: .1rem;
  left: 0;
  right: 0;
  width: 15px;
  bottom: .08rem;
  margin: auto;
  text-align: center;
}
.cover .scroll-hint-wrapper .scroll-hint {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 0 solid black;
  border-right: 0 solid black;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}
.cover.loaded .background {
  opacity: 1;
  -moz-animation: fade-in 1s 3s both;
  -webkit-animation: fade-in 1s 3s both;
  animation: fade-in 1s 3s both;
}
.cover.loaded .text {
  opacity: 1;
  -moz-animation: cover-text-to-top 0.6s 1.2s both;
  -webkit-animation: cover-text-to-top 0.6s 1.2s both;
  animation: cover-text-to-top 0.6s 1.2s both;
}
.cover.loaded .text .text-title {
  opacity: 1;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-animation: fade-in 1s both, cover-text-title-to-right 0.6s 1.8s both;
  -webkit-animation: fade-in 1s both, cover-text-title-to-right 0.6s 1.8s both;
  animation: fade-in 1s both, cover-text-title-to-right 0.6s 1.8s both;
}
.cover.loaded .text .text-content {
  opacity: 1;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translateX(-38%);
  -ms-transform: translateX(-38%);
  -webkit-transform: translateX(-38%);
  transform: translateX(-38%);
  -moz-animation: fade-in 0.6s 2.4s both;
  -webkit-animation: fade-in 0.6s 2.4s both;
  animation: fade-in 0.6s 2.4s both;
}
.cover.loaded .scroll-hint {
  opacity: 1;
  -moz-animation: fade-in 0.4s 4s both;
  -webkit-animation: fade-in 0.4s 4s both;
  animation: fade-in 0.4s 4s both;
}

@-moz-keyframes cover-text-to-top {
  from {
    -moz-transform: scale(2);
    transform: scale(2);
  }
  to {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes cover-text-to-top {
  from {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes cover-text-to-top {
  from {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  to {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-moz-keyframes cover-text-title-to-right {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -moz-transform: translateX(93%);
    transform: translateX(93%);
  }
}
@-webkit-keyframes cover-text-title-to-right {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(93%);
    transform: translateX(93%);
  }
}
@keyframes cover-text-title-to-right {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -moz-transform: translateX(93%);
    -ms-transform: translateX(93%);
    -webkit-transform: translateX(93%);
    transform: translateX(93%);
  }
}
