@import "compass/css3";
@import "./partials/common.scss";

.cover {
  .background {
    @include backface-visibility(hidden);
    @include animation(fade-in 1s 3s both);
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 8%;
    bottom: 50%;
    margin: auto;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    @include backface-visibility(hidden);
    @include animation(cover-text-to-top .6s 1.2s both);

    .text-title, .text-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      height: 100%;
    }

    .text-title {
      @include backface-visibility(hidden);
      @include animation(fade-in 1s both, cover-text-title-to-right .6s 1.8s both);
    }

    .text-content {
      @include backface-visibility(hidden);
      @include transform(translateX(-38%));
      @include animation(fade-in .6s 2.4s both);
    }
  }

  .scroll-hint {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    right: 0;
    bottom: .18rem;
    margin: auto;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 0 solid black;
    border-right: 0 solid black;
    @include backface-visibility(hidden);
    @include transform(rotate(-45deg));
    @include animation(fade-in .4s 4s both);
  }
}

@include keyframes(cover-text-to-top) {
  from {
    @include transform(scale(2));
  }
  to {
    @include transform(scale(1.1));
  }
}

@include keyframes(cover-text-title-to-right) {
  from {
    @include transform(translateX(0));
  }
  to {
    @include transform(translateX(93%));
  }
}