<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>朋友圈一键印成书，米莫微信书上线啦！</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="stylesheets/app.css?v=3">
  <link rel="stylesheet" href="stylesheets/price.css">
  <script>
    (function () {
      var setFontSize = function () {
        document.documentElement.style.fontSize = (window.innerWidth / 414 * 100) + 'px'
      }

      setFontSize()
      window.addEventListener('resize', setFontSize)
      window.addEventListener('load', setFontSize)

      document.addEventListener('touchstart', function (e) {
        e.preventDefault()
      })
    })()
  </script>
</head>
<body>
  <div style="display: none;">
    <img src="images/logo.jpg">
  </div>

  <div id="price" v-component="price"></div>

  <script id="template_price" type="text/x-template">
    <div class="slider">
      <div v-component="menu" index="2"></div>
      <div v-component="section1" index="1"></div>
    </div>
  </script>

  <script id="template_price_section_1" type="text/x-template">
    <div class="section section-1">
      <div class="background" style="background-color: #f6f4eb;"></div>
      <div v-component="stamp"></div>
      <div v-component="btn-return"></div>
      <img class="img" src="images/price-section-1-image.png?v=2">
      <img class="text-img" src="images/price-section-1-text.jpg">
    </div>
  </script>

  <script id="template_section_button_return" type="text/x-template">
    <span v-activable class="btn-return" v-on="'k.tap': returnToHome">返回</span>
  </script>

  <script id="template_price_stamp" type="text/x-template">
    <img class="stamp" src="images/price-stamp.png">
  </script>

  <script id="template_menu" type="text/x-template">
    <div class="section menu">
      <div class="top">
        <h2><span>米莫印品·微信书</span></h2>
        <p>自动排版，10分钟成书！</p>
        <p>独家硬皮精装与六色高清印刷工艺！</p>
        <p>多印有优惠，低至 0.8元/页！</p>
        <a class="btn btn-make" v-on="k.tap: showQRCode = true" v-activable>立即制作</a>
      </div>
      <div class="bottom">
        <p><span class="arrow arrow-left"><img src="images/arrow.png"></span> 点击下方查看介绍 <span class="arrow arrow-right"><img src="images/arrow.png"></span></p>
        <div class="links">
          <a v-on="'k.tap': open('hard_cover')" class="hard-cover" style="background-image: url(images/menu-hard-cover.jpg);">
            <span class="text">硬皮精装</span>
          </a>
          <a v-on="'k.tap': open('soft_cover')" class="soft-cover" style="background-image: url(images/menu-soft-cover.jpg);">
            <span class="text">软皮简装</span>
          </a>
          <a v-on="'k.tap': open('make_step')" class="make-step" style="background-image: url(images/menu-make-step.jpg);">
            <span class="text">制作步骤</span>
          </a>
          <a v-on="'k.tap': open('price')" class="price" style="background-image: url(images/menu-price.jpg);">
            <span class="text">产品价格</span>
          </a>
        </div>
      </div>
      <div class="rq-code" v-show="showQRCode" v-transition="fade">
        <span class="btn-close" v-activable v-on="k.tap: showQRCode = false"></span>
        <div v-show="isWechat">
          <img src="http://beta.mimoprint.com/WechatApi/getMimoQR" width="430" height="430" v-on="touchstart: stopPropagation">
          <p>长按二维码识别</p>
        </div>
        <div class="not-wechat" v-show="!isWechat" v-on="touchstart: stopPropagation">
          <p>请在微信中搜索「<strong>mimoprint</strong>」<br>关注米莫公众号<br>点「微信书」进行定制</p>
        </div>
      </div>
    </div>
  </script>

  <script src="scripts/lib/vue.min.js"></script>
  <script src="scripts/lib/velocity.min.js"></script>
  <script src="scripts/lib/k-tap.js"></script>
  <script src="scripts/lib/k-drag.js"></script>
  <script src="scripts/app.js?v=2"></script>
</body>
</html>